<% include partial/head.ejs %>

<p id="counter"></p>

<div class="popup">
  <button id="startButton">play</button>
</div>

<div class="tweets">
  <div class="tweet">
    <div class="pic"><img src="https://i.pinimg.com/originals/be/ac/96/beac96b8e13d2198fd4bb1d5ef56cdcf.jpg" alt="appel"></div>
    <div class="main">
      <b>Name.. a long one! eoje</b>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos impedit dolores sint error velit veritatis, assumenda minus nam asperiores placeat distinctio quis. Impedit labore saepe quos ducimus vero nostrum dolor.</p>
    </div>
  </div>
</div>

<p id="winner" class="none"></p>

<div id="colorPopup" class="none">
  <h2>Choose Color and Name</h2>
  <input id="setUserName" placeholder="userName"/>
  <div class="grid">
    <div id="red"></div>
    <div id="green"></div>
    <div id="coral"></div>
    <div id="hotpink"></div>
    <div id="black"></div>
    <div id="gray"></div>
    <div id="lavender"></div>
    <div id="purple"></div>
  </div>
</div>

<div class="joinPopup none">
  <h2>Someone want's to play a game!</h2>
  <button id="join">Play Along</button>
</div>

<h1>Flappy</h1>
<div id="field">
  <div id="players"></div>
<h1>Bird</h1>

  <div id="obstacles">
    <div id="obstacle">
      <div class="top">

      </div>
      <div class="bottom">

      </div>
      <div class="safe">

      </div>
    </div>
  </div>
</div>

<% include partial/tail.ejs %>
